.contents {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  /* width: 100%; */
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.contents-wide {
  position: absolute;
  top: 0;
  top: 0;
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.wide-chart {
  margin: 0 13%;
  display: flex;
  width: 400px;
  justify-items: center;
}
.narrow-chart {
  margin: 0 7%;
  display: flex;
  width: 400px;
  justify-items: center;
}
